h3.mtl Sign In using you account with:

= link_to raw("<div class='login_icon facebook'></div>"), '#'
= link_to raw("<div class='login_icon twitter'></div>"), '/auth/twitter'
= link_to raw("<div class='login_icon google'></div>"), '#'
= link_to raw("<div class='login_icon yahoo'></div>"), '/auth/linkedin'